
.blogSection {
    display: flex;
    flex-direction: column;
    padding: 0 1.55rem;
    margin: 4.55rem 0;
}

.blogSection p {
    font-family: 'Xanh Mono', monospace;
    text-decoration: underline;
    font-size: 1rem;
    margin: 0;
}

.blogSection a:last-of-type {
    text-decoration: underline;
    color: inherit;
    margin: 1.8rem 0 0;
}

.blogSection a p {
    font-size: .85rem;
}

.articleBlogSection {
    margin: 2.9rem 0 0;
}

.articleBlogSection a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
}

.articleBlogSection a:not(:first-of-type) {
    margin: 1.4rem 0 0;
    text-decoration: none;
}

.articleBlogSection a p {
    text-decoration: none;
}

.articleBlogSection p:nth-of-type(1) {
    font-family: 'Syne Mono', monospace;
}

.articleBlogSection p:nth-of-type(2) {
    color: #a9c25de1;
    margin: .09rem 0 0;
    font-size: .95rem;
    letter-spacing: .1rem;
}

.articleBlogSection p {
    font-family: 'Major Mono Display', monospace;
}

