
.errorPage {
    width: 80%;
    min-height: 100vh;
    border-radius: 19px;
    padding: 1rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}