
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .85rem .85rem 0 .95rem;
}

header a {
    text-decoration: none;
}

.logoStyle {
    font-family:'Indie Flower', cursive;;
    color: var(--second-color);
    font-size: 1.7rem;
    margin: 0;
}

.sectionLogo img {
    width: 55px;
    height: auto;
    display: block;
}

.sectionTheme img {
    width: 30px;
}