
.headSection {
    display: flex;
    flex-direction: column;
    padding: 0 1.55rem;
    font-family: 'Syne Mono', monospace;
}

.headSection img {
    height: 5.55rem;
    width: 5.55rem;
    border-radius: 50%;
    border: none;
    margin: 2.35rem 0 0;
}

.headSection h3 {
    margin: 3.85rem 0 0;
    font-size: 2.15rem;
    color: var(--second-color);
}

.headSection p {
    margin: .1rem 0 0;
    font-family: 'Major Mono Display', monospace;
    font-size: .7rem;
}

.headSection p:nth-of-type(2) {
    margin: 1.75rem 0 0;
}

.contributions {
    font-family: 'Xanh Mono', monospace;
    font-size: 1.1rem;
    text-decoration: none;
    color: inherit;
}

.articleAbout {
    margin: 2.45rem 0 0;
}

.articleAbout p {
    margin: 0;
    font-size: .89rem;
    line-height: 1.25rem;
    letter-spacing: .05rem;
    color: var(--second-color);
}

.textHight {
    font-family: 'Xanh Mono', monospace;
    font-size: 1rem;
}

.articleMenu {
    margin: 2.25rem 0 0;
    padding: 0;
    list-style-type: none;
    width: fit-content;
}

.articleMenu a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: start;
    align-items: center;
    color: inherit;
    margin: 0;
}

.articleMenu li:not(:first-of-type) {
    margin: .65rem 0 0;
}

.articleMenu p {
    font-size: .97rem;
    margin: 0;
    font-family: 'Syne Mono', monospace;
}

.arrowIcon {
    width: .95rem;
    height: .95rem;
    margin: 0 .25rem 0 0;
}