
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .35rem .5rem 0;
}

.sectionLogo img {
    width: 55px;
    height: auto;
    display: block;
}

.sectionTheme img {
    width: 30px;
}