
.projectPostSection {
    padding: 0 1.55rem;
    font-family: 'Xanh Mono', monospace;
    display: flex;
    flex-direction: column;
    color: var(--color);
}

.projectPostSection h3 {
    font-size: 1.55rem;
    margin: 4.69rem 0 0;
    letter-spacing: -.03rem;
    color: var(--second-color);
    font-family: 'Major Mono Display', monospace;

}

.projectPostSection span {
    opacity: .7;
    font-family: 'Syne Mono', monospace;
    font-size: 1rem;
    margin: 1.5rem 0 0;
}

.projectPostSection p {
    font-size: .9rem;
    margin: 4rem 0 0;
    padding: 0 0 7rem;
    font-size: 1.19rem;
    line-height: 1.49rem;
    letter-spacing: .05rem;
}