
.wrapper {
    max-width: 950px;
    width: 100%;
}

.mainSectionSecret {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.55rem;
    font-family: 'Syne Mono', monospace;
    max-width: 100%;
    color: var(--second-color);
}

.funContainer {
    display: flex;
    width: 100%;
    max-width: 350px;
    height: 7rem;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: #0000003b;
    border-radius: 25px;
    margin: 2rem 0 0;
  }
  
  .funItem {
    width: 20%;
    max-width: 70px;
    background: #000000;
    border-radius: inherit;
    box-sizing: border-box;
  }

  .funItem p {
    font-size: 1.2rem;
    letter-spacing: .3rem;
    text-align: center;
    margin: .9rem;
    max-width: 100%;
  }